mixin fields(fields, item)
  each field in fields
    +field(field, item[field.key] || null)

mixin field(field, value)
  if field.mixin == "text"
    +text(field, value)
  if field.mixin == "textarea"
    +textarea(field, value)
  if field.mixin == "boolean"
    +boolean(field, value)

mixin text(field, value)
  .field
    label.label= field.name
    .control
      input.input(type='text', value=value)

mixin textarea(field, value)
  .field
    label.label= field.name
    .control
      textarea.textarea(value=value)

mixin boolean(field, value)
  .field
    .control
      input
      label.label= field.name

mixin single_image(field, value)
  .field
    label.label= field.name
    .control
      input.input(type='text', placeholder='e.g Alex Smith')


mixin multiple_image(field, value)
  .field
    label.label= field.name
    .control
      input.input(type='text', placeholder='e.g Alex Smith')
